<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sslclient.ZPM">
    <Module>
      <Name>sslclient</Name>
      <Parameter Name="confname" Value="default" />
      <Version>1.0.4</Version>
      <Description>Adds ssl client configuration to your InterSystems IRIS server</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="community.utils.PKG"/>
      <Invokes>	
        <Invoke Class="community.utils.SSLClient" Method="CreateSSLConfiguration">	
          <Arg>${confname}</Arg>	
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
